body {
  margin: 0;
  background-color:#0b2545; /* Diva GIS teal */
  height: 100vh;
}
.main-box {
  width: 90%;
  height: 90vh;
  margin: auto;
  margin-top: 5vh;
  background-color: #1C1C1C; /* charcoal */
  border-radius: 20px;
   box-shadow:
    0 0 0 2px #C08A7D,
    0 0 30px #C08A7D;
}
.content {
  color: #EFE6DC;
  padding: 80px;
}

.content span {
  color: #C08A7D;
}

button {
  background-color: #C08A7D;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  cursor: pointer;
}

.visual {
  width: 300px;
  height: 300px;
  background-color: #6B8E7E;
  border-radius: 50%;
}


