body {
  margin: 0;
  background-color:#0b2545; /* Diva GIS teal */
  height: 100vh;
}
.main-box {
  width: 90%;
  height: 90vh;
  margin: auto;
  margin-top: 5vh;
  background-color: #1C1C1C; /* charcoal */
  border-radius: 20px;
}
