body {
  margin: 0;
  background-color: #2C3E50; 
  height: 100vh;
}

.main-box {
  width: 90%;
  height: 90vh;
  margin: auto;
  margin-top: 5vh;
  background-color: #7F8C8D; 
  border-radius: 20px;
  box-shadow:
    0 0 0 2px #C08A7D,
    0 0 30px #C08A7D;
}
