body {
  margin: 0;
  background-color: #2C3E50; 
  height: 100vh;
}

.main-box {
  width: 90%;
  height: 90vh;
  margin: auto;
  margin-top: 8vh;
  background-color: #7F8C8D; 
  border-radius: 30px;
  box-shadow:
    0 0 0 2px #C08A7D,
    0 0 30px #2C3E50;
}
.content {
  color: #EFE6DC;
  padding: 80px;
}

.content span {
  color: #C08A7D;
}

button {
  background-color: #3498DB;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  cursor: pointer;
}

.visual {
  width: 300px;
  height: 300px;
  background-color: #6B8E7E;
  border-radius: 50%;
}

